# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Publish release to Maven Central
on:
  release:
    types:
      - released
      - prereleased
  push:
    branches: [ documentation ]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: prod
    name: Gradle Build and Publish
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up Zulu JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Publish
        run: |
          export VERSION=${{github.ref_name}}
          export REL_VER=`echo ${VERSION:1}`
          echo "Release version is $REL_VER"
          echo "RELEASE_VERSION=$REL_VER" >> $GITHUB_ENV
          ./gradlew -x test publish -Pversion=$REL_VER -PmavenCentral -Pusername=${{ secrets.SONATYPE_USERNAME }} -Ppassword=${{ secrets.SONATYPE_PASSWORD }}
          echo "Building UI"
          ls -ltr server/build/libs
          docker/build-ui.sh
          echo "Done building UI"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub Container Registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Server
        uses: docker/build-push-action@v3
        with:
          context: .
          file: docker/DockerfileServer
          push: true
          platforms: linux/arm64,linux/amd64
          tags: |
            orkesio/orkes-conductor-community:latest
            orkesio/orkes-conductor-community:${{ env.RELEASE_VERSION }}

      - name: Build and push Server
        uses: docker/build-push-action@v3
        with:
          context: .
          file: docker/DockerfileStandalone
          push: true
          platforms: linux/arm64,linux/amd64
          tags: |
            orkesio/orkes-conductor-community-standalone:latest
            orkesio/orkes-conductor-community-standalone:${{ env.RELEASE_VERSION }}
    env:
      ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.SIGNING_KEY_ID }}
      ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
      ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}













